@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Outfit", sans-serif;
}
.ant-menu-submenu-arrow {
  color: #f9fafb !important;
}
.text-gradient-color {
  @apply bg-gradient-to-b from-[#8F59F9] to-[#6A0DAD] inline-block text-transparent bg-clip-text;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #6a0dad, #6a0dad);
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #e8ebec;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffff;
  background: #6a0dad;
}

::selection {
  color: #ffffff;
  background: #6a0dad;
}
